[user]
	email = 2515227+thatfulvioguy@users.noreply.github.com
	name = Fulvio Valente

[alias]
	st = status
	co = checkout
	sw = switch

[init]
	defaultBranch = main

[diff]
    colorMoved = default

[core]
    pager = delta

[delta]
	line-numbers = true

	# TODO this doesn't seem to do anything for git diff at least?
	#hunk-header-file-style = blue box

	hunk-header-decoration-style = blue ul

[fetch]
	prune = true
